.lead__title {
  margin: 0 auto 32px auto;
  padding: 0;
  max-width: 720px;
  text-align: center;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
}

@media screen and (max-width: 767px) {
  .lead__title {
    margin-bottom: 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}