.lead__subtitle {
  margin: 0 auto 64px auto;
  padding: 0;
  max-width: 640px;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin-bottom: 40px;
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
  }
}