.cover__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 1184px;
  height: 740px;
  margin: 0 auto;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cover__background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.4s;
  z-index: 1;
}

.cover__link:hover .cover__background::after {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__background {
    width: 100%;
    height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__background {
    height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
    height: 200px;
  }
}