.footer {
  margin: 0 auto 24px auto;
  width: calc(100% - 96px);
  max-width: 1184px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .footer {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: calc(100% - 32px);
    flex-direction: column;
    gap: 48px;
  }
}